@{
    ViewData["Title"] = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_Header")
@await Html.PartialAsync("_NavbarLeft")

<div class="container mt-4">
</div>

@await Html.PartialAsync("_Footer")
