<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Allow files up to 10MB (10485760 bytes) -->
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    <httpRuntime maxRequestLength="10240" executionTimeout="300" />
  </system.webServer>
</configuration>